.example-parent {
  border: 2px solid #DFA612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.example-parent.ex1 > div {
	width: 50%;
}

.example-parent.advanced .example-draggable {
	width: 300px;
}

.example-origin {
	padding: 10px;
	margin: 0 auto;
}

.example-draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
	padding: 20px;
	will-change: transform, opacity;
	opacity: 1;
	transition: transform ease-in-out .2s, opacity ease-in-out .2s;
}

.example-draggable {
	/* cursor: pointer; */
}

.example-draggable.hide {
	visibility: hidden;
}

.example-draggable.dragging {
	cursor: grabbing;
}
.example-draggable.dragstart {
	cursor: grabbing;
	opacity: 0.6;
}
.example-draggable.dragover {
	transform: scale(1.1);
}

.example-dropzone {
  background-color: #6DB65B;
  padding: 20px;
}

.gray {
	background-color: #CBD5E0;
}
.orange {
	background-color: #F6AD55;
}
.yellow {
	background-color: #F6E05E;
}
.green {
	background-color: #68D391;
}
.blue {
	background-color: #4299E1;
}
.teal {
	background-color: #2C7A7B;
}

.footer {
	text-align: center;
}

.footer a {
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.wrapper {
	position: relative;
	width: 300px;
	height: 59px;
	margin: 10px 0;
	will-change: transform;
	transition: transform ease-in-out .2s;
	background-color: #4AAE9B;
}

.wrapper.over {
	transform: scale(1.1);
}

.example-draggable.moving {
	opacity: 0.0001;
	cursor: grabbing;
}

.grabbing {
	cursor: grabbing;
}
